.task-list-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list-container h1 {
    text-align: center;
    color: #333;
  }

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li:not(:last-child) {
    margin-bottom: 10px;
}